header {
  width: 100%;
  padding: $m-6 0;

  h1 {
    text-align: center;
    font-size: $h3;
    font-weight: 300;
  }

  @media(max-width: 868px) {
    padding: $m-6 $m-7;

    h1 {
      font-size: $h4;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showCard {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.poke-cards {
  @include center-items;
  flex-wrap: wrap;
  gap: $m-6;
  padding-bottom: $m-4;

  animation: showCard 1s ease-in-out;

  @media(max-width: 868px) {
    padding: 0 $m-7;
  }

  .poke-card {
    animation: showCard 1s ease-in-out;
  }
}

.load-list {
  @include center-items;
  flex-direction: column;

  > p {
    font-size: $h4;
  }

  > img {
    width: 100px;
    height: 100px;
    margin-bottom: $m-6;
    animation: rotate 1s linear infinite;
  }

  @media(max-width: 868px) {
    padding: 0 $m-7;
    text-align: center;
  }
}
