$color-third: #f5db13;
$color-primary: #f2b807;
$color-second: #f28f16;
$color-danger: #d93e30;
$color-grey: #f6f7f9;
$color-dark: #212121;
$color-white-light: #fdfdfd;

$element-grey: #fdfdfd; // dark, rock
$element-green: #70a83b; // grass, bug
$element-blue-50: #a2cff0; // ice, water
$element-red: #f76545; // fire, fighting, dragon
$element-blue-100: #76aadb; // normal, ghost
$element-purple: #a974bc; // poison, psychic, fairy, ghost
$element-brown: #9b897b; // ground
$element-yellow: #f7c545; // eletric
