@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: normal;
  font-family: "Be Vietnam Pro", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Be Vietnam Pro", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea,
button {
  border: none;
  outline: none;
  overflow: auto;
  font-family: "Be Vietnam Pro", sans-serif;
}

.input-text {
  width: 100%;
  box-shadow: 4px 4px 20px rgba(1, 28, 64, 0.2);
  padding: 14px 24px;
  border-radius: 64px;
  margin-top: 18px;
}

.poke-card {
  display: flex;
  height: 136px;
  border-radius: 10px;
  box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
  overflow: hidden;
  width: fit-content;
}
.poke-card .poke-infos {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
  background-color: #fdfdfd;
}
.poke-card .poke-infos > h3 {
  font-size: 1.5rem;
}
.poke-card .poke-infos > span {
  display: flex;
  gap: 10px;
}
.poke-card .poke-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.poke-card .poke-photo > img {
  object-fit: cover;
  transform: scale(0.5);
}

.popover {
  padding: 4px 10px;
  border-radius: 10px;
  box-sizing: 4px 4px 24px rgba(1, 17, 38, 0.2);
  border-bottom: 2px solid #212121;
}

.container {
  max-width: 864px;
  margin: 0 auto;
}

.bg-grey-gradient {
  background: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
}

.bg-blue-gradient {
  background: linear-gradient(270deg, #5b63fa 0.15%, #35baff 100%);
}

.bg-pink-gradient {
  background: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
}

.bg-green-gradient {
  background: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
}

.bg-gold-gradient {
  background: linear-gradient(269.46deg, #b57e10 -7.62%, #b57e10 13.9%, #f9df7b 28.5%, #fff3a6 45.42%, #f9df7b 62.17%, #b57e10 81.71%);
}

.bg-yellow-gradient {
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}

.bg-red-gradient {
  background: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
}

.bg-purple-gradient {
  background: linear-gradient(270deg, #a974bc 0.15%, #a974bc 70.88%);
}

.bg-red-gradient-card {
  background: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
}

header {
  width: 100%;
  padding: 24px 0;
}
header h1 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 300;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showCard {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.poke-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  animation: showCard 1s ease-in-out;
}
.poke-cards .poke-card {
  animation: showCard 1s ease-in-out;
}

.load-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.load-list > p {
  font-size: 1.5rem;
}
.load-list > img {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
  animation: rotate 1s linear infinite;
}
